events { }

http {
     server {
            listen __PORT__;
            location /api {
                     resolver 127.0.0.11 valid=30s;
                     proxy_set_header Host            $host;
                     proxy_set_header X-Forwarded-For $remote_addr;            
                     proxy_redirect off;
                     proxy_pass "__RAPPELLE_BE_URL__$2";         
            }
            location / {
                     resolver 127.0.0.11 valid=30s;
                     proxy_redirect off;
                     proxy_pass "__RAPPELLE_WEB_URL__$2";         
            }
     }
}